@use './globalValues' as gv;

:root {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: gv.$primary-color;
    color: gv.$secondary-color;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgray;
    color: gv.$primary-color;
    border-bottom: 2px solid gray;
}

button {
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.4s;
}

input {
    background-color: #eee;
    color: gv.$font-color;
}

a {
    color: gv.$secondary-color;
}