@use 'globalValues' as gv;

.blur {
    @include gv.blur;
}

.hidden {
    display: none;
}

#main-container {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
}

// target everything, except h1
#project-container:not(#project-container:first-child) {
    border: 2px solid blue;
    text-decoration: none;
}

#new-project-modal {
    @include gv.centralize();
    @include gv.modal();
}

#close-modal {
    @include gv.close-button();
}

#project-name {
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 5px;
}

#project-name:focus {
    outline: 2px solid darkgray;
}

.project {
    position: relative;
    border-radius: 15px;
    background-color: lightgray;
    padding: 15px;
    height: 100px;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.project .project-title {
    font-size: 32px;
    position: absolute;
    top: 10px;
}

.project a {
    text-decoration: none;
    color: gv.$primary-color;
    background-color: rgba(155, 155, 155, 0.4);
    padding: 5px;
    border-radius: 15px;
    transition: background-color 0.4s;
}

.project a:hover {
    background-color: darkgray;
}

.project .deletar-projeto-btn {
    cursor: pointer;    
    font-size: 12px;
    background-color: orangered;
    border: none;
    position: absolute;
    bottom: 5px;
}

.project .deletar-projeto-btn:hover {
    background-color: rgb(209, 58, 3);
}

#criar-novo-projeto-btn {
    @include gv.centralizeHorizontal();
    position: relative;
}

#criar-novo-projeto-btn:hover {
    background-color: rgba(235, 230, 230, 0.87);
}

#deletar-tudo-btn {
    @include gv.centralizeHorizontal();
    position: absolute;
    bottom: -75px;
    background-color: black;
    color: #eee;
    height: 24px;
}
